body {
  font-family: Arial, sans-serif;
  background: lightyellow;
  padding: 20px;
}
.form {
  padding: 25px;
  width: 350px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  display: block;
  margin: 10px 0 5px;
}
input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  button a {
    color: black;
    display: grid;
    text-decoration: none;
}

button a:hover{
    background-color: rgb(230, 173, 173);
}