body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: hsl(45, 22%, 96%);
}

.navbar {
    background: #0f172a;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
}

.logo { color: hwb(0 100% 0%); }

.navbar a {
    color: #cbd5e1;
    margin-left: 25px;
    text-decoration: none;
}

.navbar a.active { color: #38bdf8; }

main {
    padding: 30px;
    text-align: center;
}

.card {
    background: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid hsl(40, 13%, 91%);}
