body {
    font-family: Arial, sans-serif;
    background: lightyellow;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}
th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    font-size: 14px;
}
th {
    background: #cfd3c5;
    font-weight: bold;
}
.day {
    background: #cfd3c5;
    font-weight: bold;
    width: 120px;
}
.lab {
    background: #e6f4fa;
    border: 2px solid #8cc9ff;
    font-weight: bold;
}
.na {
    background: #f1f1f1;
    color: #666;
}
td p {
    font-weight: lighter;
    color: black;
}
button a{
    color: black;
    display: grid;
    text-decoration: none;
}
button a:hover{
    background-color: rgb(230, 224, 173);
}