
 
       
       
       body {
            font-family: Arial, sans-serif;
            background-color: hwb(215 25% 56%);
            color: white;
        }

    
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(128, 128, 128);
            padding: 10px 20px;
        }


        .logo {
            font-size: 24px;
            font-weight: bold;
            color: white;
        }

       
        .nav-links {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .nav-links li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
        }

        .nav-links li a:hover {
            color: #00bfff;
        }
    
     
        